/* Основные стили */
.page {
  padding-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base), sans-serif;
  font-variation-settings: "wght" var(--font-weight-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.accent {
  font-family: var(--font-accent), fantasy;
}

/* Шапка */

.header {
  text-align: center;
  box-sizing: border-box;
  inline-size: var(--size);
  padding-block: clamp(120px, 32vw, 128px);
  margin-block-end: 100px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
}

.header__logo {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--font-weight-base);
  text-transform: uppercase;
}

/* Основной контент */

.main {
  inline-size: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

/* Карточки */

.card {
  background-color: var(--color-bg);
  border-inline: 2px solid var(--color-accent);
}

.card__title {
  padding: 5px 10px 3px;
  border-block-start: 2px solid var(--color-accent);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
  line-height: 21.78px;
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid var(--color-accent);
}

.card__img-block {
  position: relative;
}

.card__description {
  padding: 21px 25px 25px;
  font-size: 18px;
  border-block-end: 2px solid var(--color-accent);
}

.card__description-text {
  margin-block-end: 25px;
  line-height: 21px;
}

/* Кнопки */

.card__like-button {
  padding-block: 10px;
  inline-size: 130px;
}

.btn {
  cursor: pointer;
  border: 2px solid var(--color-accent);
  background-color: var(--color-bg);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.save {
  text-align: center;
  padding: 15px 22px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.save__icon,
.button__text {
  mix-blend-mode: difference;
}

.button__text {
  color: var(--text-mix-color);
}

.save__icon {
  width: 21px;
  height: 21px;
  fill: var(--text-mix-color);
}

.like__block {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: end;
}

/* Лейбл */

.card__label {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: clamp(13px, 3.467vw, 25px);
  mix-blend-mode: hard-light;
  font-size: 14px;
  opacity: .5;
  text-shadow:
    1px 1px 0 var(--text-outline-color),
    -1px -1px 0 var(--text-outline-color),
    1px -1px 0 var(--text-outline-color),
    -1px 1px 0 var(--text-outline-color);
}

@supports (-webkit-text-stroke: 1px) or (text-stroke: 1px) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-outline-color);
    text-stroke: 1px var(--text-outline-color);
    text-shadow: none;
  }
}

/* Модалка */

.modal {
  padding: 28px;
  border: 2px solid black;
  max-inline-size: clamp(341px, 90.933vw, 353px);
}

.modal[open] {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  align-items: center;
}

.modal__header {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: var(--font-weight-base);
}

.modal__close {
  grid-column: 1/3;
  text-transform: uppercase;
  padding-block: 12px;
}

.modal::backdrop {
  background: rgb(0 0 0 / .75);
}

/* Адаптив */

@media (width <=375px) {
  :root {
    --size: 100%;
  }

  .header__logo {
    font-size: 13vw;
  }

  .save {
    flex-direction: column;
    gap: 9px;
  }

  .save__icon {
    width: 28px;
    height: 28px;
  }

  .modal {
    padding: 28px 40px;
  }
}

/* фильтры */

.serenity {
  filter: brightness(200%);
}

.discomfort {
  filter: contrast(20%);
}

.disappointment {
  filter: grayscale(0.5);
}

.surprise {
  filter: saturate(158%);
}

.support {
  filter: hue-rotate(-90deg);
}

.fatigue {
  filter: sepia(80%);
}

.deadline {
  filter: sepia(1) contrast(2) brightness(200%);
}

/* Эффекты кнопок */

.btn:focus {
  outline: none;
  box-shadow: 2px 2px var(--color-accent);
}

.btn::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  transform: translateX(-100%);
  inset: 0;
  transition: transform 0.5s ease-in-out;
}

.btn:hover::before {
  transform: translateX(0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

/* Сердце */

.sparks {
  opacity: 0;
}

.core {
  transition: fill .3s linear .03s;
}

.main-body,
.contour {
  transition: fill .3s linear;
}

.heart {
  transform-origin: center;
}

.card__icon-button:hover .core,
.card__icon-button:active .core,
.like-icon.is-liked .core {
  transition-delay: 0s;
}
.card__icon-button:hover .main-body,
.card__icon-button:active .main-body,
.like-icon.is-liked .main-body {
  transition-delay: .05s;
}

.like-icon.is-liked .contour {
  transition-delay: .06s;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body {
  fill: var(--color-accent);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--heart-main);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--heart-main);
}


.like-icon.is-liked .heart {
  animation: heart-scale .3s linear .1s;
}

.like-icon.is-liked .sparks {
  animation: sparkles .3s linear .3s;
}